

body {
	font-family: Georgia, "Lucida Bright", "DejaVu Serif", Constantia, serif;
	color: #333;
	font-size: 18px;
	padding-top: 80px;
}

ul {
	margin-top: 1em;
	list-style: square;
	padding-left: 1em;
}

p {
	margin: 1em 0;
}

p, li {
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {

}
h1 {

}
h2 {
	font-size: 1.4em;
}
h3 {
			padding-top: 18px;
}

.bighead{
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fbfbfb;
}

nav ul  {
    float: right;
}

nav ul li.separator {
    padding-left: 5px;
    border-left: 1px solid #aaa;
    border-left-color: #aaa;
    border-left-style: solid;
    border-left-width: 1px;
}


nav ul li {
    display: inline-block;
}


nav ul li a {
    display: inline-block;
    margin: 0 15px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #3e6deb;
    font-size: 12px;
}

    nav ul li a:hover {
        color: #25272d;
    }

    nav ul li a.active {
        font-weight: 700;
        color: #25272d;
    }

.logo {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.03px;
}

    .logo,
    .logo:visited,
    .logo:active,
    .logo:hover {
        color: #25272d;
    }

        .logo svg {
            margin-right: 10px;
            vertical-align: bottom;
        }
.logo strong {
    font-weight: 700;
    color: #e84039;
}


.container {
	max-width: 600px;
}

.navbar {
	min-height: 80px;
}
.navbar-volby {
	border-bottom: 1px solid #eee;
    background-color: #fbfbfb;
}
.bighead .navbar-volby {
    background-color: #fbfbfb;
}

.navbar-volby .navbar-header {
	width: 60%;
	float: left;
}
.navbar-header a.navbar-brand {
}
.navbar-header a.navbar-brand img {
	width: 100%;
	max-width: 200px;
}
.navbar-steps {
	float: right;
	text-align: right;
}
.bighead .navbar-steps {
		padding-right: 50px;
}

.counter {
	display: none;
	color: #ccc;
	font-size: .75em;
}

.navbar-steps .nav--progress span.nav-item a {
	font-size: .75em;
}

.counter__step {
	font-size: 1.8em;
	color: #0097fd;
}

.counter__step:after {
	content: "/";
	color: #ccc;
	font-size: .6em;
}

.headlogo {
	width:60px;
	height:60px;
}

.headtxt
{
}
@media (max-width: 480px) {
	.headlogo {
		width: 40px;
		height:40px;
	}
	.headtxt
	{
		font-size: 70%;
	}
	.logo {
	    font-size: 14px;
	    font-weight: 600;
	    line-height: 20px;
	    letter-spacing: 0.03px;
	}
}

.intro .paragraph-1 {
	color: #333;
	margin: .25em 0;
}

.intro .paragraph-2 {
	color: #555;
}

.intro ul li strong {
	font-weight: 400;
	color: #111;
}



/* forms */

.form-control, select, .select2 {
	font-size: 1em;
	border-radius: 0;
	background-color: #eee;
	border: 3px solid #ccc;
	outline: none;
	padding: .8em;
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
	height: auto;
	color: #000;
}

.form-control, .form-control:focus, .has-error .form-control, .has-error .form-control:focus {
	box-shadow: none;
}

.form-group .help-block {
	font-size: .9em;
}

label {
	font-weight: normal;
	color: #555;
}

label em {
	color: #888;
	font-style: normal;
}


#ziadost input:focus {
	border-color: #0097fd;
	background-color: #eef8ff;
}


#pdf iframe, #pdf-final iframe {
	background-color: #eee;
}

#sign .signature-pad {
	border: 4px solid #eee;
	position: relative;
}

#sign .signature-pad canvas {
	position: relative;
	width: 100%;
	height: 160px;
	z-index: 2;
}

#sign .signature-pad span {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
	left: 0;
	top: 32px;
	color: #ddd;
}






.footer {
	opacity: .5;
	font-size: .8em;
}

.powered-by img {
	margin: 1em 0;
	height: 18px;
}



/* components */

.btn-volby-blue, .btn-volby-gray {
	font-family: Arial, Helvetica, "Myriad Pro", "DejaVu Sans Condensed", sans-serif;
	color: #fff;
	border-radius: 0;
	padding: 1.6em 1em;
	font-weight: bold;
	transition: background-color 0.5s ease;
	font-size: 1em;
	white-space: normal;
}

.btn-volby-blue {
	background-color: #0097fd;
	border-color: #0097fd;
}

.btn-volby-gray {
	background-color: #999;
	border-color: #999;
}

.btn-volby-gray:hover, .btn-volby-gray:active, .btn-volby-gray:focus,
.btn-volby-blue:hover, .btn-volby-blue:active, .btn-volby-blue:focus {
	color: #fff;
}
.btn-volby-blue:hover, .btn-volby-blue:active, .btn-volby-blue:focus {
	background-color: #0061a3;
	border-color: #0061a3;
}
.btn-volby-gray:hover, .btn-volby-gray:active, .btn-volby-gray:focus {
	background-color: #777;
	border-color: #777;
}


.text-big {
	font-size: 1.15em;
}
.text-bigger {
	font-size: 1.25em;
	line-height: 1.5;
}
.text-biggest {
	font-size: 1.45em;
	line-height: 1.4;
}
.text-color-lighter {
	color: #777;
}

h2.as-title-with-padding, h3.as-title-with-padding {
	margin-top: 1.8em;
}

.embed-responsive-210by297 {
	padding-bottom: 141.43%;
}

.digitalBlue {
	color: #0097fd;
}

.digitalBlue:hover {
	color: #0061a3;
}

.digitalRed {
	color: #c33;
}

.digitalRed:hover {
	color: #b10f0f;
}

.digitalBlueFill {
	background-color: #0097fd;
	color: #4db6fe;
}

.digitalBlueFill:hover {
	background-color: #0061a3;
	text-decoration: none;
}

.digitalRedFill {
	background-color: #c33;
	color: #d65c5c;
}

.digitalRedFill:hover {
	background-color: #b10f0f;
	text-decoration: none;
}

.copy-btn {
	padding-top: 2px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #ddd;
	transition: background-color 0s;
}

.copy-btn:hover {
	background-color: #aaa;
	transition: background-color 0.6s;
}

.copy-btn:focus:hover, .copy-btn.selected:hover {
}

.copy-btn:active, .copy-btn.selected {
	background-color: #666;
	transition: background-color 0s;
}



.social {
    margin-left: 13px;
}


.social a {
    display: inline-block;
    margin: 0 2px;
    padding: 4px 6px 4px 4px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #3d5e96;
    border-radius: 4px;
}

    .social a:hover {
        color: #ffffff;
    }

    .social a svg {
        margin-right: 4px;
        vertical-align: middle;
    }

.social .social-tw {
	position: relative;
	top: 6px;
}



.supported-by img{
	margin: 5px;
}


.newbadge {
    background-size: auto;
    background-repeat: no-repeat;
}

    .newbadge.top-right {
        background-position: top right;
        background-image: url('https://www.hlidacstatu.cz/content/img/nove_yellow.png');
    }

    .newbadge.top-left {
        background-position: top left;
        background-image: url('https://www.hlidacstatu.cz/content/img/nove_yellow_left.png');
    }

.topbadge {
    background-image: url('https://www.hlidacstatu.cz/content/img/top_red.png');
    background-size: auto;
    background-position: top right;
    background-repeat: no-repeat;
}


