<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rychlá žádost o voličský průkaz</title>
    <meta name="description" content="Nemůžete volit prezidenta v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození." />
    <!-- open graph specification if anyone shares -->
    <meta property="og:title" content="Rychlá žádost o voličský průkaz" />
    <!-- needs update <meta property="og:image" content="https://volby.hlidacstatu.cz/images/fbbanner-hlasovaci-prukaz.jpg" /> -->
    <meta property="og:description" content="Nemůžete volit prezidenta v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://volby.hlidacstatu.cz/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://volby.hlidacstatu.cz/" />
    <!-- needs update <meta name="twitter:image" content="https://volby.hlidacstatu.cz/images/fbbanner-hlasovaci-prukaz.jpg" /> -->
    <meta name="twitter:title" content="Rychlá žádost o voličský průkaz" />
    <meta name="twitter:description" content="Nemůžete volit prezidenta v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození." />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js" integrity="sha256-GT4AUs9RYD3WEeAsoJlvGbT9fxp3TR1iOFZrvBuS8Mo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.2/dist/vue-router.js" integrity="sha256-ZXuDnCcIq0+1FwNaovtHEPcdRFEQK10rzx+lYtxxJh8=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <h1>Volby do Evropského parlamentu 2019</h1>
        <h2>Volby do Evropského parlamentu se uskuteční <strong>24. 5. 2019 (od 14:00 do 22:00)</strong> a <strong>25. 5. 29 (od 8:00 do 14:00)</strong></h2>
        <p id="navigation">
            <router-link to="/cr-cr">Jsem občanem ČR a chci volit v ČR</router-link><!--
         --><router-link to="/cr-eu">Jsem občanem ČR a chci volit v EU</router-link><!--
         --><router-link to="/eu-cr">Jsem občanem EU a chci volit v ČR</router-link>
        </p>
        <div id="cr-cr" class="pane" v-if="$route.path=='/cr-cr'">
            <h3>Chci volit v místě svého trvalého bydliště</h3>
            <p>
                Nic vám nebrání v cestě. Dostavte se s platným průkazem totožnosti v den voleb do volební místnosti ve svém volebním obvodě (dle trvalého bydliště).
            </p>
            <h3>Chci volit v kterémkoliv volebním obvodě v ČR</h3>
            <p>
                Pokud chcete volit mimo své trvalé bydliště, potřebujete tzv. voličský průkaz.
            </p>
            <h3>O voličský průkaz můžete zažádat na svém obecním úřadě a to buď:</h3>
            <ul>
                <li><strong>osobně</strong> – dostavte se přímo na úřad s platným dokladem totožnosti nejpozději 22. května 2019,</li>
                <li><strong>písemně</strong> – žádost musíte doručit do 17. 5. 2019 v 16:00 skrz vaší datovou schránku nebo poštou s úředně ověřeným podpisem.
                </li>
            </ul>
            <router-link tag="button" to="/form" class="btn btn-primary">Vytvořit písemnou žádost o voličský průkaz</router-link>
        </div>
        
        <div id="cr-eu" class="pane" v-if="$route.path=='/cr-eu'">
            <h3>Chci volit české kandidáty</h3>
            
            <p>Pro české kandidáty nelze hlasovat ze zahraničí.</p>
            <p>Ze zahraničí může občan, který žije dlouhodobě mimo ČR, zastupitelský úřad požádat o zápis do zvláštního seznamu voličů a následně se na něj obrátit s žádostí o vydání voličského průkazu. S tímto průkazem pak může volit v den voleb ve kterékoliv volební místosti na území ČR.</p>

            <p><strong>O voličský průkaz můžete zažádat na svém zastupitelském úřadě a to buď:</strong></p>
            <ul>
                <li><strong>osobně</strong> – dostavte se přímo na úřad s platným dokladem totožnosti nejpozději 22. května 2019,</li>
                <li><strong>písemně</strong> – žádost musíte doručit do 17. 5. 2019 v 16:00 skrz vaší datovou schránku nebo poštou s úředně ověřeným podpisem.</li>
            </ul>

            <p><router-link tag="button" to="/form" class="btn btn-primary">Vytvořit písemnou žádost o voličský průkaz</router-link></p>

            <h3>Chci volit kandidáty z jiné členské země EU</h3>
            <p>Hlasování probíhá na území daného členského státu EU a řídí se pravidly daného členského státu EU.</p>
        </div>
        
        <div id="eu-cr" class="pane" v-if="$route.path=='/eu-cr'">
            <h3>Chci volit české kandidáty</h3>
            
            <p>Podmínkou je, aby byla osoba registrována k trvalému nebo přechodnému pobytu na území ČR minimálně 45 dní před volbami a byla na seznamu voličů do Evropského parlamentu.</p>

            <ul>
                <li>V případě, že se osoba již zúčastnila voleb do EP v minulosti a byla tak zapsaná na seznam voličů do EP, může se v daném volebním okrsku voleb opět účastnit.</li>
                <li>V případě, že je osoba již zapsaná ve volebním rejstříku pro komunální volby, může požádat nejpozději 40 dní před volbami (tj. do 14. dubna 2019 do 16:00) o přesun svých údajů ze stálého seznamu voličů do seznamu voličů pro volby do EP <a href="https://www.mvcr.cz/mvcren/file/application-for-entry-onto-the-list-of-voters-for-the-european-parliament-elections-in-the-czech-republic-pdf.aspx">vyplněním žádosti</a>. Tuto žádost je nutné podat osobně.</li>
                <li>V případě, že osoba zatím ve volbách do EP nevolila, musí nejpozději 40 dní před volbami (tj. do 14. dubna 2019 do 16:00) příslušný obecní úřad <a href="https://www.mvcr.cz/mvcren/file/application-to-transfer-data-from-the-appendix-to-the-permanent-list-of-voters-to-the-list-of-voters-for-the-european-parliament-elections-in-the-czech-republic-pdf.aspx">požádat o zapsání na seznam voličů</a>. Tuto žádost je nutné podat osobně.</li>
            </ul>
            
            <h3>Chci volit v místě svého trvalého bydliště v ČR</h3>
            <p>Splňujete-li výše popsané podmínky, nic vám nebrání v cestě. Dostavte se s platným průkazem totožnosti v den voleb do volební místnosti ve svém volebním obvodě (dle trvalého bydliště).</p>

            <h3>Chci volit v kterémkoliv volebním obvodě v ČR</h3>
            <p>Pokud chcete volit mimo své trvalé bydliště, potřebujete tzv. voličský průkaz.</p>

            <h3>O voličský průkaz můžete zažádat na svém obecním úřadě a to buď:</h3>
            <ul>
                <li><strong>osobně</strong> – dostavte se přímo na úřad s platným dokladem totožnosti nejpozději 22. května 2019,</li>
                <li><strong>písemně</strong> – džádost musíte doručit do 17. 5. 2019 v 16:00 skrz vaší datovou schránku nebo poštou s úředně ověřeným podpisem.</li>
            </ul>

            <p><router-link tag="button" to="/form" class="btn btn-primary">Vytvořit písemnou žádost o voličský průkaz</router-link></p>
            <h3>Chci volit kandidáty z jiné členské země EU</h3>
            Hlasování probíhá na území daného členského státu EU a řídí se pravidly daného členského státu EU.

        </div>

        <div id="form" class="pane table" v-if="$route.path=='/form'">
            <div class="form-group warning">
                <div class="left">
                    <img src="assets/images/lock.png" width="41" height="50" />
                    <h3 class="section-title">Soukromí</h3>
                </div>
                <div class="right">
                    <strong>Než začneme…</strong>
                    <p>
                        Vámi vyplněné osobní údaje nikomu neodesíláme, ani je dále nezpracováváme.
                        Nemusíte se ale ničeho bát – celá žádost vzniká pouze na vašem počítači.
                        Pokud chcete mít 100% jistotu, klidně se při vytváření žádosti odpojte od internetu.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <img src="assets/images/id-card.png" width="50" height="38" />
                    <h3 class="section-title">Moje identita</h3>
                </div>
                <div class="right">
                    <div class="row">
                        <div class="col-xs-10">
                            <label for="name">Jméno a Příjmení</label>
                            <input id="name" v-model="userData.fullName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="bday">Datum Narození</label>
                            <input id="bday" v-model="userData.birthdate" class="form-control" type="date">
                        </div>
                        <div class="col-xs-5">
                            <label for="tel">Telefon</label>
                            <input id="tel" v-model="userData.phone" class="form-control" type="tel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <img src="assets/images/home.png" width="50" height="40" />
                    <h3 class="section-title">Moje adresa trvalého pobytu</h3>
                </div>
                <div class="right">
                    <div class="row">
                        <div class="col-xs-10">
                            <label for="address-line1">Ulice a číslo popisné</label>
                            <input id="address-line1" v-model="userData.addressLine1" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="postal-code">PSČ</label>
                            <input id="postal-code" v-model="userData.postalCode" class="form-control" type="text">
                        </div>
                        <div class="col-xs-7">
                            <label for="locality">Město</label>
                            <input id="locality" v-model="userData.city" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <img src="assets/images/office.png" width="39" height="50" />
                    <h3 class="section-title">Můj obecní úřad</h3>
                </div>
                <div class="right">
                    <div class="row">
                        <div class="col-xs-10">
                            <label for="office-name">Název úřadu</label>
                            <input id="office-name" v-model="userData.municipality.name" class="form-control" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <label for="office-street">Ulice a číslo popisné</label>
                            <input id="office-street" v-model="userData.municipality.addressLine1" class="form-control" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="office-zip">PSČ</label>
                            <input id="office-zip" v-model="userData.municipality.postalCode" class="form-control" type="text" autocomplete="off">
                        </div>
                        <div class="col-xs-7">
                            <label for="office-city">Město</label>
                            <input id="office-city" v-model="userData.municipality.city" class="form-control" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">Nelekněte se, PSČ vašeho obecního úřadu se může od vašeho lišit.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <div class="left">
                        <img src="assets/images/envelope.png" width="50" height="39" />
                        <h3 class="section-title">Doručení</h3>
                    </div>
                    <div class="right">
                        <div class="row">
                            <label for="delivery">Voličský průkaz po vyhotovení:</label><br>
                            <input type="radio" name="delivery" value="in-person" id="in-person"> <label for="in-person">převezmu osobně</label><br>
                            <input type="radio" name="delivery" value="representative" id="representative"> <label for="representative">převezme osoba, která se prokáže plnou mocí s mým úředně ověřeným podpisem</label><br>
                            <input type="radio" name="delivery" value="my-address" id="my-address"> <label for="my-address">žádám zaslat na adresu mého trvalého pobytu</label><br>
                            <input type="radio" name="delivery" value="other-address" id="other-address"> <label for="other-address">žádám zaslat na jinou adresu</label>
                        </div>
                    </div>
                </div>
        
            <router-link tag="button" to="/preview" class="btn btn-primary btn-primary-new">Vytvořit žádost</router-link>
        </div>
        <div id="preview" class="pane" v-if="$route.path=='/preview'">

            <router-link tag="button" to="/" class="btn btn-primary">Stáhnout žádost</router-link>
        </div>
    </div>

    <script>
        const routes = [
            {path: '/cr-cr'},
            {path: '/cr-eu'},
            {path: '/eu-cr'},
            {path: '/form' },
            {path: '/preview' }
        ];
        const paths = routes.map(function(route) { return route.path })
        const router = new VueRouter({ routes: routes });
        router.beforeEach(function(to, from, next) {
            if (paths.indexOf(to.path)==-1) {
                next({path: '/cr-cr', replace: true});
            } else next();
        })
        window.app = new Vue({
            router: router,
            el: '#app',
            data: {
                routes: routes,
                userData: {
                    municipality: {}
                }
            }
        });
    </script>
    <style>
        body {
            font-family: sans-serif;
            margin: 50px 50%;
        }
        div#app {
            width: 940px;
            margin-left: -470px;
        }
        h2 {
            font-weight: normal;
            font-size: small;
        }
        h3 {
            font-size: medium;
            font-weight: bold;
            margin-bottom: 0px;
        }

        #navigation a {
            display: inline-block;
            width: 313px;
            padding: 15px;
            height: 80px;
            border: 1px solid black;
            border-left: 0px;
            margin: 0px;
            text-align: center;
        }
        #navigation a:first-child {
            width: 314px;
            border-left: 1px solid black;
        }
        #navigation a.router-link-active {
            color:red;
            border-bottom: 0px;
        }
        .pane {
            border: 1px solid black;
            border-top: 0px;
            padding: 15px;
            margin: 0px;
            position: relative;
            top: -1em;
        }

        #form .row {
            margin: 15px 0px;
        }
        #form label {
            font-weight: normal;
        }
        #form .form-group {
            margin-bottom: 0px;
        }
        #form .form-group:nth-child(2n+1) {
            background-color: rgb(228, 228, 228)
        }
        #form .form-group:nth-child(2n) {
            background-color: rgb(215, 215, 215)
        }

        #form .form-group.warning {
            background-color: rgb(255, 255, 204);
        }
        #form .form-group .left {
            width: 300px;
            position: absolute;
            padding: 50px 20px;
        }
        #form .form-group .left img {
            float: left;
        }
        #form .form-group .left h3 {
            margin-left: 60px;
        }
        #form .form-group .right {
            margin-left: 300px;
            padding: 50px 0px;
            min-height: 160px;
        }

    </style>
</body>
</html>
